<%= link_to 'Add New', 'titles#new' %>

<script>
	$(document).bind("touchend mouseup",function (e) {
	    var container = $(".name");
	    if (!container.is(e.target) && container.has(e.target).length === 0) {
	    	$('body').addClass('fadeOut');
	    	setTimeout(function(){
	    		location.reload();
	    	},250);
	    }

	    $.ajax({
		  dataType: "json",
		  url: "https://morning-beyond-4046.herokuapp.com/titles.json",
		  data: data,
		  success: function(){
		  	console.log(data);
		  }
		});
	});
</script>

<div class="table logos">
	<% @titles.each do |title| %>
	<div class="cell" style="background:<%= title.color %>">
		<div class="double">
			<%= title.logo.html_safe %>
			<a class="name" href="<%= title.url %>" target="_blank"><%= title.name %></a>
		</div>
	</div>
	<% end %>
</div>
<div class="table plus">
	<div class="cell"><div class="amp">+</div></div>
</div>
</div>