<%= link_to 'Add New', 'titles#new' %>

<script>
	$(document).mouseup(function (e) {
	    var container = $(".name");
	    if (!container.is(e.target) && container.has(e.target).length === 0) {
	         location.reload();
	    }
	});
</script>

<div class="table">
	<% @titles.each do |title| %>
	<div class="cell" style="background:<%= title.color %>">
		<%= title.logo.html_safe %>
		<a class="name" href="<%= title.url %>" target="_blank"><%= title.name %></a>
	</div>
	<% end %>
</div>
<div class="table plus">
	<div class="cell"><div class="amp">+</div></div>
</div>
</div>