<%= link_to 'Add New', 'titles#new' %>

<script>
	$(document).bind("touchend mouseup",function (e) {
	    var container = $(".name");
	    if (!container.is(e.target) && container.has(e.target).length === 0) {
	    	$('body').addClass('fadeOut');
	    	setTimeout(function(){
	    		location.reload();
	    	},250);
	    }
	});



	$(function() {
	 	var API = "https://morning-beyond-4046.herokuapp.com/welcome/index.json";
		$.getJSON( API, {format: "json"}).done(function(data){
			
			$('.logos .cell:eq(0)')
				.css('background',data.titles[0].color)
				.find('.double').html(data.titles[0].image);
	   	})
	});
</script>

<div class="table logos">
	<% @titles.each do |title| %>
	<div class="cell" style="background:<%= title.color %>">
		<div class="double">
			<%= title.logo.html_safe %>
			<a class="name" href="<%= title.url %>" target="_blank"><%= title.name %></a>
		</div>
	</div>
	<% end %>
</div>
<div class="table plus">
	<div class="cell"><div class="amp">+</div></div>
</div>
</div>