<!DOCTYPE html>
<html>
<head>
  <title>Choose Your Next Startup Idea</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="Small tool that will help you to choose your next startup idea. Peace!">
  <meta property="og:image" content="<%= image_path("startup-idea.png") %>"/>
  <link href='//fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>

<%= yield %>

</body>
</html>
